article{
    background-color: aquamarine;
}
body{
    background-color: burlywood;
}
img{
   width: 300px; 
   height: 200px;
}
.flex-container{
    display: flex;
    justify-content: space-around;
}