.navigatie-glam{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.navigatie-glam li{
    background-color: sandybrown;
}

.navigatie-glam a{
    color:seashell;

}
.meta-glam{
    background-color: seashell;
}
.navigatie-footer{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.navigatie-footer li{
    background-color: slategray;
}

