body {
    background-color: red;
}
h1 {
    background-color: magenta;
}

p {
    background-color: green;
}
.in-mij-rij{
    background-color: blueviolet;
}
#mezijf{
    color: pink;
    text-decoration: underlined;
}


{}
